.circle {
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 100%;
  background-color: #eceece85;
  transition: left 300ms linear, bottom 300ms linear;
}

.square {
  position: absolute;
  width: 18px;
  height: 18px;
  background-color: green;
  transition: left 300ms linear, bottom 300ms linear;
}

.redSquare {
  position: absolute;
  width: 18px;
  height: 18px;
  background-color: #ff4f6c85;
  transition: left 300ms linear, bottom 300ms linear;
}
