.circle {
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 100%;
  background-color: #eceece85;
  transition: left 300ms linear, bottom 300ms linear;
}

.square {
  position: absolute;
  width: 18px;
  height: 18px;
  background-color: #adeade;
  transition: left 300ms linear, bottom 300ms linear;
}
