.Box {
  position: relative;
  width: 500px;
  height: 500px;
  border: 12px solid #adeade;
  border-radius: 8px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Char {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #eceece;
  transition: left 300ms linear, bottom 300ms linear;
}

.indicator {
  font-size: 96px;
  color: rgba(128, 128, 128, 0.281);
}
