.Box {
  position: relative;
  width: 500px;
  height: 500px;
  border-radius: 0.25rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('background.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 500px 500px;
}

.indicator {
  font-size: 96px;
  color: rgba(255, 255, 255, 0.555);
}

.charlist {
  position: absolute;
  margin-left: 350px;
}
